@model shoping.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sub_category.Sub_category_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_category.Sub_category_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Pic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Pic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Prachase_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Prachase_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Sale_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Sale_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
